/* NavBar */
nav {
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: 1px solid #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

a.active {
  border-bottom: 2px solid #333;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}
/* NavBar */
.container {
  width: 80%;
  max-width: 1000px;
  margin: auto;

}

/* Dashboard */

.dashboard-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
}

.question-card {
  background-color: #e8f4f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  text-align: center;
}

.question-card h3 {
  margin: 0;
  color: #007bff;
}

.question-card p {
  margin: 10px 0;
  color: #666;
}

.show-button {
  background-color: #fff;
  color: #28a745;
  border: 1px solid #28a745;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.show-button:hover {
  background-color: #218838;
  color: #fff;
}

.done {
  background-color: #f8f9fa;
  border-color: #dee2e6;
}

@media (max-width: 768px) {
  .question-card {
    flex: 1 1 calc(50% - 40px)
  }
}

@media (max-width: 480px) {
  .question-card {
    flex: 1 1 100%;
  }
}

/* Dashboard */

/* Poll Page */
.poll-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.poll-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.poll-header h3 {
  margin: 0;
  color: #007bff;
}

.poll-options {
  display: flex;
  justify-content: space-around;
}

.option {
  background-color: #e8f4f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 45%;
  text-align: center;
}

.option p {
  margin-bottom: 20px;
  color: #666;
}

.vote-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.vote-button:hover {
  background-color: #218838;
}

/* Leaderboard */
.table-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.table-container h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.leaderboard-table thead {
  background-color: #007bff;
  color: #fff;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.leaderboard-table th {
  text-align: center;
}

.leaderboard-table tbody tr:hover {
  background-color: #f1f1f1;
}

.user-block {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.username {
  color: #666;
  font-size: small;
}

@media (max-width: 768px) {
  .table-container {
    width: 90%;
  }

  .leaderboard-table th,
  .leaderboard-table td {
    padding: 8px;
  }
}

/* Leaderboard */

/* New Question */
.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
}

.sub-heading {
  color: #666;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 5px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"]::placeholder {
  color: #ccc;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px auto;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button:disabled {
  background-color: #bebaba;
  color: #666;
}

@media (max-width: 768px) {
  .form-container {
    width: 90%;
  }

  .form-group {
    width: 100%;;
  }
}